@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)
	

/*==========  Mobile First  ==========*/
// = @media (min-width: 0px) { ... }
+media-breakpoint-up(xs)

@media (min-width: 340px)
	.contentItemContainer
		img
			width: 300px
			height: 300px
// ≤576px
+media-breakpoint-up(sm)
	
// ≤768px
+media-breakpoint-up(md)
	header
		flex-direction: row
		.logo
			width: 50vh
			padding-left: 1em
		.dropdown-content
			margin-left: 0
			margin-right: 0
	.headerInfoPages
		flex-direction: row
		justify-content: center
		border-bottom: 1em solid $myGrey
		div
			width: 100%
	.secondaryMenu
		display: flex
		flex-direction: column
		.wrap
			flex-direction: row
			div
				padding-left: 12px
				padding-right: 12px
		.viewContainer
			display: block
	#contentBlock
		overflow-y: scroll
// ≤992px
// = @media (min-width: 992px) { ... }
+media-breakpoint-up(lg) 
	.logo
		margin-bottom: 0em
		text-align: left
	.secondaryMenu
		flex-direction: row
		div
			padding-left: 12px
			padding-right: 12px
		.addLotForm.dropdown-content
			left: -9em
	.features
		> h1 
			font-size: 3em
		section
			padding: 30px
			margin: 0px

@media (min-width: 1152px)
	.secondaryMenu
		.addLotForm.dropdown-content
			left: -6.2em

// ≤1200px
+media-breakpoint-up(xl)
	
	