@import "vars"
@import "libs"

body
	height: 100vh
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: sans-serif
	overflow-x: hidden

.text-center
	text-align: center

.text-left
	text-align: left

b, strong
	font-weight: bold

button, .button
	border: 1px solid $myBlack
// Main

// Dropdowns style
.dropdown
	position: relative
	display: flex
	.dropdown-content
		top: 2em
		display: none
		position: absolute
		background-color: $myGrey
		min-width: 240px
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
		z-index: 3
		a
			padding: 12px 16px
			text-decoration: none
			display: block
			color: black
		a:hover
			background-color: $myGreen
.dropdown:hover 
	.dropdown-content 
  		display: flex
  		flex-direction: column

// Header style
header
	display: flex
	flex-direction: column
	text-align: center

	padding-top: 0.5em
	padding-bottom: 0.5em
	background-color: $myBlack

	a, a:link, a:visited
		color: white
	.logo
		font-size: 1.5em
	nav
		display: flex
		flex-direction: row
		width: 100%
		justify-content: center
			
	.navItem, .navItemBordered
		width: 100%
		padding: 0.5em
	.navItemBordered
		border-right: 1px solid white
	
	#cartLotsContainer
		width: 100%
		right: 0px
		overflow-y: scroll
		overflow-x: hidden
		max-height: 55vh
		img
			object-fit: cover
			width: 200px
			height: 200px
	.cartElementContainer
		padding: 10px
	.cartBorder
		margin-top: 10px
		margin-left: 10%
		margin-right: 10%
		border-bottom: 1px solid $myBlack

.headerInfoPages
	display: none
	flex-direction: column
	#contactsInfo
		display: flex
		flex-direction: column
		justify-content: center
		a
			color: $myBlack
			margin-left: 1em
		address
			align-items: center
			justify-content: center
			display: flex
			flex-direction: row
.headerInfoPages.open
	display: flex
// Carousel hot-lots styles
.hotLots-item
	img
		height: 240px
		object-fit: cover
.carousel-lot-info
	padding-left: 20px
	padding-right: 20px
	padding-top: 10px
	padding-bottom: 10px
// Content menu style
.secondaryMenu
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center

	background-color: $myGrey
	margin-bottom: 1em
	a
		color: black
	.wrap
		display: flex	
		flex-direction: column
		justify-content: center
		align-items: center
		div
			padding: 5px
	.search
		width: 100%
		background-color: rgba(0, 0, 0, 0)
		border: none
		border: 1px solid #95989A
		color: black
		border-radius: 0
	.sort.dropdown-content
		left: -4.7em
	.categories.dropdown-content
		left: -4.1em
	.priceForm
		button
			border: 1px solid $myBlack
	#priceFilterFrom, #priceFilterTo
		text-align: center
	.viewContainer
		display: none
		img
			width: 20px
	.addLotForm.dropdown-content
		left: -6.2em
		form 
			display: flex
			flex-direction: column
			*
				margin: 5px
		
			

	#pagination 
		padding-top: 0.5em
		padding-bottom: 0.5em
		// display: inline-block
		a
			float: left
			padding: 8px 16px
			text-decoration: none
		a:not(.active)
			color: black
		a.active
			color: white
			background-color: $myGreen
		a:hover
			background-color: $myGreen
			box-shadow: 0 0 10px rgba(0,0,0,0.5)
			cursor: pointer
			z-index: 2

.wrapper 
	display: flex
	flex-direction: column
	height: 100%

// Content items style
.contentItemContainer
	width: 100%
	margin-bottom: 20px
	img
		width: 280px
		height: 280px
		object-fit: cover
	p, .nameItem
		word-wrap: break-word

footer
	background-color: $myBlack
	.copyRights
		color: #95989A
		border-top: solid 1px white
		margin-top: 10px





.topnav 
	background-color: #333
	position: relative
	#myLinks 
		display: none
	a 
		color: white
		padding: 14px 16px
		text-decoration: none
		font-size: 17px
		display: block
	a.icon 
		background: black
		display: block
		position: absolute
		right: 0
		top: 0

	a:hover 
		background-color: #ddd
		color: black
.activeNav 
  background-color: #4CAF50
  color: white





@import "media" // Always at the end
